*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition-duration: 1.1s;
}

h1 {
  margin: 0.6em 0;
}

.color-gray {
  color: #ddd;
}

.color-white {
  color: #fff;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.header__avatar {
  align-self: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section__title {
  text-align: center;
  font-size: 36px;
  padding: 3rem 1.5rem;
}

.section__body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  font-size: 28px;
}

.skills-techs,
.techs {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.techs__logo {
  display: flex;
  justify-content: center;
  height: 64px;
}

.skills {
  background-color: #d7f5f8;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .techs {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills-techs {
    grid-template-columns: repeat(2, 1fr);
  }
}
