*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition-duration: 1.1s;
}

h1 {
  margin: 0.6em 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:hover,
a:visited:hover {
  color: #555;
}

a:focus,
a:active {
  color: #333;
}

a:visited {
  color: #000;
}

a:link,
a:hover,
a:visited:hover,
a:focus,
a:active,
a:visited {
  transition: 0.3s ease-in-out;
}

.color-gray {
  color: #ddd;
}

.color-white {
  color: #fff;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  min-height: 100vh;
}

.header__avatar {
  align-self: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.section__title {
  text-align: center;
  font-size: 36px;
  padding: 3rem 1.5rem;
}

.section__body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  font-size: 28px;
}

.skills-techs,
.techs {
  display: grid;
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.techs {
  grid-template-columns: 1fr 1fr;
}

.skills-techs {
  grid-template-columns: 1fr 1fr;
}

.techs__logo {
  display: flex;
  justify-content: center;
  min-height: 64px;
}

.skills {
  background-color: #fafafa;
}

.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.section-links .section__title {
  padding: 2rem 1.5rem;
}

.section-links h1 {
  margin: 0;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    min-height: 50vh;
  }

  .section {
    min-height: 50vh;
  }

  .techs {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills-techs {
    grid-template-columns: repeat(4, 1fr);
  }

  .links {
    grid-template-columns: repeat(5, 1fr);
  }

  .section-links .section__title {
    padding: 3rem 1.5rem;
  }

  .section-links h1 {
    margin: 0.6rem 0;
  }

}
